<div id="background">
  <header class="cf">
    <div class="wrapper-wide">
      <%= link_to 'BAND.FM', root_path, id: 'logo' %>
        <nav>
          <ul>
            <% unless song_signed_in? %>
              <li><%= link_to 'Explore', songs_path %></li>
              <li><%= link_to 'Sign In', new_song_session_path %></li>
              <li><%= link_to 'Create a Profile', new_song_registration_path %></li>
            <% else %>
              <li><%= link_to 'Dashboard', authenticated_root_path %></li>
              <li><%= link_to 'Explore', songs_path %></li>
              <li><%= link_to 'Sign Out', destroy_song_session_path, method: :delete %></li>
            <% end %>
          </ul>
        </nav>
      </div>
  </header>
  <div class="wrapper-skinny">
    <h1>Explore the world of <span id="noise-color">music</span><br><span class="small-heading">or create your own.</span></h1>
    <% unless song_signed_in? %>
      <%= link_to 'Create a Profile', new_song_registration_path, class: 'btn btn-highlight' %>
    <% end %>
    <%= link_to 'Explore', songs_path, class: 'btn btn-white' %>
  </div>
</div>
