<div id="noise-show">
  <div id="show-banner">
    <div class="wrapper-skinny">
      <h1>Edit: <%= @noise.title %> by <%= @song.title %></h1>
    </div>
  </div>

  <%= render 'layouts/links', song: @song %>
</div>

<div id="form" class="wrapper-skinny">
  <%= form_for ([@song, @noise]) do |f| %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
      <div class="field">
        <%= f.label :thumbnail %><br />
        <%= f.file_field :thumbnail %>
      </div>
      <%= f.submit 'Update', class: 'btn btn-highlight btn-block' %>
  <% end %>
</div>
