<div id="noise-show">
  <div id="show-banner">
      <div class="wrapper-skinny">
          <h1><%= @song.title %></h1>
          <p class="description"><%= @song.description %></p>
          <% unless @song.itunes.blank? %>
              <a href="<%= @song.itunes %>" class="subscribe">iTunes</a>
          <% end %>
          <% unless @song.lastfm.blank? %>
              <a href="<%= @song.lastfm %>" class="subscribe">Last.fm</a>
          <% end %>
          <% unless @song.website.blank? %>
              <a href="<%= @song.website %>" class="subscribe">Website</a>
          <% end %>
      </div>
  </div>

  <div id="breadcrump">
    <%= link_to 'All Bands', songs_path %>
    <span>/</span>
    <%= link_to @song.title, song_path(@song) %>
    <span>/</span>
    <%= @noise.title %>
  </div>

  <div id="song-content">
    <div class="wrapper-skinny">
      <img class="current-song-thumbnail" src="assets/img/thep_ep.jpg" alt="">
      <h2><%= @noise.title %></h2>
      <p class="description"><%= @noise.description %></p>
    </div>
  </div>

  <div id="songs">
    <div class="wrapper-skinny">
      <ul class="cf">
        <% @noises.each do |noise| %>
          <li class="cf">
            <div class="song-thumbnail">
              <%= link_to song_noise_path(@song, noise) do %>
                <img src="assets/img/thep_ep.jpg" alt="">
              <% end %>
            </div>
            <div class="song-overview">
              <h2><%= link_to noise.title, song_noise_path(@song, noise) %></h2>
              <p class="description"><%= truncate(noise.description, length: 160) %></p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
