<!DOCTYPE html>
<html>
  <head>
    <title>BAND.FM</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% elsif alert %>
      <p class="alert"><%= alert %></p>
    <% end %>

    <% unless params[:controller] == 'pages' && params[:action] == 'welcome' %>
      <header class="cf" id="main-header">
        <div class="wrapper-wide">
          <%= link_to 'BAND.FM', root_path, id: 'logo' %>
            <nav>
              <ul>
                <% unless song_signed_in? %>
                  <li><%= link_to 'Explore', songs_path %></li>
                  <li><%= link_to 'Sign In', new_song_session_path %></li>
                  <li><%= link_to 'Create a Profile', new_song_registration_path %></li>
                <% else %>
                  <li><a href="#">Dashboard</a></li>
                  <li><%= link_to 'Explore', songs_path %></li>
                  <li><%= link_to 'Sign Out', destroy_song_session_path, method: :delete %></li>
                <% end %>
              </ul>
            </nav>
          </div>
      </header>
    <% end %>

    <%= yield %>

  </body>
</html>
